h1 {
  position: absolute;
  top: 120px;
  left: 60px;
  font-weight: 900;
  font-size: 5em;
  margin: 0;
  color: peru;

  letter-spacing: -2px;
  text-align: left;
}

h1 > span {
  white-space: pre;
}
